@use "../../abstracts";
.about-hero {
  &-tag {
    background: #434ec4;
    &-container {
      padding: 50px 0;
      span {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 120%;
        display: block;
      }
      h1 {
        color: #fff;
        font-size: 4rem;
        font-weight: 500;
        margin-top: 30px;
      }
      button {
        --height: 53px;
        min-width: 256px;
        color: #fff;
        font-weight: 700;
        border-radius: 5px;
        border: 1px solid #fdf0df;
        background: #434ec4;
        margin: 35px auto 0 auto;
        transition: all 0.2s linear;
        &:hover {
          border: 1px solid #434ec4;
          background: #fdf0df;
          color: #434ec4;
        }
      }
    }
  }
  &-content {
    background: abstracts.$bg-color;
    &-container {
      padding: 100px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 30px;
      p {
        max-width: 654px;
        color: #000;
        font-size: 1.75rem;
        line-height: 133.333%;
        text-align: left;
        strong {
          font-weight: 500;
        }
      }
      figure {
        display: flex;
        flex-wrap: wrap;
        img {
          width: 243px;
          height: 221.5px;
          object-fit: cover;
          &:first-child {
            border-radius: 10.232px 0px 0px 0px;
          }
          &:nth-child(2) {
            border-radius: 0px 10.232px 0px 0px;
          }
          &:nth-child(3) {
            border-radius: 0px 0px 0px 10.232px;
          }
          &:last-child {
            border-radius: 0px 0px 10.232px 0px;
          }
        }
      }
    }
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    &-content-container {
      flex-direction: column;
      justify-content: center;
      gap: 30px 0;
      figure {
        img {
          width: 50%;
        }
      }
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    &-tag-container {
      padding: 30px 0 20px;
      h1 {
        margin-top: 20px;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 133.333%;
      }
      button {
        margin-top: 30px;
      }
    }
    &-content-container {
      padding: 50px 0 40px;
      flex-direction: column;
      gap: 30px 0;
      p {
        @include abstracts.line-clamp(4);
        font-size: 1.4rem;
      }
      figure {
        img {
          width: 167.5px;
          height: 152.68px;
          &:first-child {
            border-radius: 7.053px 0px 0px 0px;
          }
          &:nth-child(2) {
            border-radius: 0px 7.053px 0px 0px;
          }
          &:nth-child(3) {
            border-radius: 0px 0px 0px 7.053px;
          }
          &:last-child {
            border-radius: 0px 0px 7.053px 0px;
          }
        }
      }
    }
  }
}
