html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 36px);
  margin: 0 auto;
}

.heading {
  color: #0b0d21;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 123.81%;
}
.heading-big {
  font-size: 6.2rem;
  line-height: 106.452%;
  text-align: left;
}

.desc {
  color: #686977;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 155.556%;
}

.btn {
  --height: 58px;
  height: var(--height);
  line-height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.btn-1 {
  border: 3px solid #0b0d21;
  color: #fff;
  background: #0b0d21;
  transition: all 0.2s linear;
}
.btn-1:hover {
  color: #0b0d21;
  border: 3px solid #0b0d21;
  background: #fff;
}
.btn-2 {
  color: #0b0d21;
  background: #fe0;
  border: 3px solid #fe0;
  transition: all 0.2s linear;
}
.btn-2:hover {
  color: #fe0;
  border: 3px solid #fe0;
  background: #0b0d21;
}

.header {
  padding-top: 20px;
  background: #fdf0df;
  position: sticky;
  top: -20px;
  z-index: 2;
}
.header-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 0 74px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 0 17px;
}
.header-link {
  padding: 8px 26px;
  color: #0b0d21;
  transition: all 0.2s linear;
  border-radius: 4px;
  display: block;
}
.header-link::before {
  content: attr(title);
  display: block;
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-link:hover {
  background: #fe0;
  font-weight: 500;
}
.header-link.active {
  background: #fe0;
  font-weight: 500;
}
.header .log-in-btn {
  --height: 44px;
  min-width: 102px;
}
@media screen and (min-width: 992px) {
  .header .header-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .header .header-menu {
    display: none;
  }
  .header-list {
    gap: 0;
  }
  .header-link {
    padding: 8px 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header-nav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .mobile-header .overlay {
    position: fixed;
    inset: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition: all 0.2s linear;
    opacity: 0;
  }
  .mobile-header .menu-checkbox:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
  }
  .mobile-header .menu-drawer {
    position: fixed;
    inset: 0 20% 0 0;
    background: #fff;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.2s linear;
    padding: 60px;
  }
  .mobile-header .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .mobile-header .header-nav {
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-start;
    gap: 40px 0;
  }
  .mobile-header .header-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
  }
  .mobile-header .header-link {
    padding: 0;
  }
  .mobile-header .log-in-btn {
    width: 100%;
  }
}

.sub-header {
  background: #fe0;
}
.sub-header-container {
  padding: 21px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 57px;
}
.sub-header-container div {
  position: relative;
}
.sub-header-container div:nth-child(2)::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background: #0b0d21;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -48px;
}
.sub-header-container div:nth-child(2)::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background: #0b0d21;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -48px;
}
@media screen and (max-width: 991.98px) {
  .sub-header {
    overflow: hidden;
  }
  .sub-header-container div {
    white-space: nowrap;
  }
  .sub-header-container div:first-child {
    position: relative;
  }
  .sub-header-container div:first-child::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    background: #0b0d21;
    position: absolute;
    right: -29px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sub-header-container div:nth-child(2) {
    display: none;
  }
}
.hero {
  background: #fdf0df;
}
.hero-container {
  padding: 90px 0 100px;
  display: flex;
  justify-content: space-between;
}
.hero-content {
  max-width: 470px;
}
.hero-heading {
  max-width: 468px;
}
.hero-desc {
  margin-top: 14px;
  text-align: left;
  color: #0b0d21;
}
.hero-cta {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 0 18px;
}
.hero .start-btn {
  min-width: 194px;
}
.hero .explore-btn {
  min-width: 213px;
}
.hero-rate {
  margin-top: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-rate-right strong {
  font-size: 2.2rem;
  margin-top: 16px;
  font-weight: 700;
  line-height: 145.455%;
  display: block;
  text-align: left;
}
.hero-rate-right span {
  margin-top: 6px;
  display: block;
  text-align: left;
}
.hero-rate-right a {
  margin-top: 16px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  text-decoration: underline;
}
.hero-stars {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.hero-media {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  position: relative;
}
.hero-media img:first-child {
  width: 270px;
  height: 412px;
  border-radius: 80px 0 80px 0;
}
.hero-media img:nth-child(2) {
  width: 270px;
  height: 412px;
  border-radius: 0 80px 0 0;
}
.hero-media img:nth-child(3) {
  width: 270px;
  height: 232px;
  border-radius: 0 0 0 80px;
  margin-top: 30px;
}
.hero-media img:nth-child(4) {
  width: 320px;
  height: 320px;
  border-radius: 100rem;
  border: 40px solid #fdf0df;
  position: absolute;
  bottom: 84px;
  right: -28px;
}
.hero-media img:last-child {
  position: absolute;
  bottom: 0;
  right: 100px;
}

.stat {
  background: #434ec4;
}
.stat-container {
  padding: 70px 84px;
  display: flex;
  align-items: center;
}
.stat-container div {
  text-align: center;
}
.stat-container div strong {
  color: #fff;
}
.stat-container div span {
  color: #d0d4ff;
  white-space: nowrap;
  margin-top: 8px;
  display: inline-block;
}
.stat-container div:first-child {
  margin-right: 70px;
}
.stat-container div:last-child {
  margin-left: 70px;
}
.stat-container div:nth-child(2) {
  padding: 0 70px;
  position: relative;
}
.stat-container div:nth-child(2)::before {
  content: "";
  width: 2px;
  height: 58px;
  border-radius: 1px;
  background: #929aef;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stat-container div:nth-child(2)::after {
  content: "";
  width: 2px;
  height: 58px;
  border-radius: 1px;
  background: #929aef;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stat-container div:nth-child(3) {
  position: relative;
  padding: 0 70px;
}
.stat-container div:nth-child(3)::before {
  content: "";
  width: 2px;
  height: 58px;
  border-radius: 1px;
  background: #929aef;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.feature-container {
  padding: 160px 0;
}
.feature-heading {
  max-width: 570px;
  margin: 0 auto;
}
.feature-desc {
  margin: 20px auto 0 auto;
  max-width: 570px;
}
.feature-list {
  margin-top: 70px;
  position: relative;
  padding-bottom: 20px;
}
.feature-list::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #d9d9d9;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature-item {
  color: #686977;
  padding: 0 127px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  cursor: pointer;
  padding-bottom: 20px;
}
.feature-item.active {
  color: #0b0d21;
  border-bottom: 3px solid #0b0d21;
}
.feature-section {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.feature-content {
  padding: 81px 85px 0 0;
}
.feature-content-heading {
  text-align: left;
}
.feature-content-desc {
  margin-top: 20px;
  text-align: left;
  max-width: 470px;
}
.feature-content button {
  margin-top: 40px;
  min-width: 194px;
}
.feature-content-heading-2 {
  margin-top: 160px;
  text-align: left;
}
.feature-content-desc-2 {
  margin-top: 160px;
  text-align: left;
}
.feature-media-1 {
  margin-left: auto;
}
.feature-media-1 video {
  width: 570px;
  height: 520px;
  background: #fdf0df;
  border-radius: 6px;
}
.feature-media-2 {
  margin-top: 70px;
}
.feature-media-2 video {
  background: #fdf0df;
  width: 470px;
  height: 478px;
  border-radius: 12px;
}
.feature-content-list {
  margin-top: 70px;
  --column: 2;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.feature-content-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.feature-content-item {
  cursor: pointer;
  width: 270px;
  height: 224px;
  border-radius: 12px;
  border: 1px solid #e9eaf0;
  background: #fff;
  padding: 40px 20px;
  transition: all 0.2s linear;
}
.feature-content-item:hover {
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  transform: translateY(-20px);
}
.feature-content-item:hover figure img {
  animation: spinner 0.2s linear forwards;
}
.feature-content-item h4 {
  margin-top: 20px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  text-align: left;
}
.feature-content-item span {
  margin-top: 12px;
  font-size: 1.6rem;
  line-height: 162.5%;
}

.course {
  background: #fdf0df;
}
.course-container {
  padding: 100px 0;
}
.course-heading {
  max-width: 570px;
  margin: 0 auto;
}
.course-desc {
  margin: 20px auto 0 auto;
  max-width: 570px;
}
.course-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.course-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.course-item {
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  transition: all 0.2s linear;
}
.course-item:hover {
  transform: translateY(-10px);
}
.course-item-desc {
  color: #434ec4;
  font-size: 1.4rem;
  line-height: 171.429%;
}
.course-item h3 {
  margin-top: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  text-align: left;
}
.course-item-img {
  width: 330px;
  height: 278px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.course-author {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.course-author img {
  width: 20px;
  height: 20px;
  border-radius: 100rem;
}
.course-author p {
  color: #83848c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.course-stat {
  margin-top: 12px;
  display: flex;
}
.course-stat img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.course-stat span {
  color: #686977;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 162.5%;
  margin-right: 18px;
}
.course-item-bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-item-bottom strong {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
}
.course-item-bottom button {
  min-width: 120px;
  transition: all 0.2s linear;
}
.course-item-bottom button:hover {
  background: #fe0;
  border: 3px solid #fe0;
}
.course-btn {
  margin: 65px auto 0 auto;
  min-width: 204px;
}

/*# sourceMappingURL=main.css.map */
