html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 36px);
  margin: 0 auto;
}

.heading {
  color: #0b0d21;
  text-align: center;
  font-size: 4.2rem;
  font-weight: 800;
  line-height: 123.81%;
}
.heading-big {
  font-size: 6.2rem;
  line-height: 106.452%;
  text-align: left;
}
@media screen and (max-width: 767.98px) {
  .heading {
    font-size: 2.6rem;
    line-height: 138.462%;
  }
  .heading-big {
    font-size: 3.2rem;
    line-height: 131.25%;
  }
}

.desc {
  color: #686977;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 155.556%;
}
@media screen and (max-width: 767.98px) {
  .desc {
    font-size: 1.4rem;
    line-height: 171.429%;
  }
}

.btn {
  --height: 58px;
  height: var(--height);
  line-height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  border-radius: 8px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.btn-1 {
  border: 3px solid #0b0d21;
  color: #fff;
  background: #0b0d21;
  transition: all 0.2s linear;
}
.btn-1:hover {
  color: #0b0d21;
  border: 3px solid #0b0d21;
  background: #fff;
}
.btn-2 {
  color: #0b0d21;
  background: #fe0;
  border: 3px solid #fe0;
  transition: all 0.2s linear;
}
.btn-2:hover {
  color: #fe0;
  border: 3px solid #fe0;
  background: #0b0d21;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
}
.nav-list div {
  cursor: pointer;
  width: 24px;
  height: 4px;
  border-radius: 2px;
  background: #d5d6de;
}
.nav-list div.active {
  background: #0b0d21;
}

.header {
  padding-top: 20px;
  background: #fdf0df;
  position: sticky;
  top: -20px;
  z-index: 2;
}
.header-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 0 74px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 0 17px;
}
.header-link {
  padding: 8px 26px;
  color: #0b0d21;
  transition: all 0.2s linear;
  border-radius: 4px;
  display: block;
}
.header-link::before {
  content: attr(title);
  display: block;
  font-weight: 500;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header-link:hover {
  background: #fe0;
  font-weight: 500;
}
.header-link.active {
  background: #fe0;
  font-weight: 500;
}
.header .log-in-btn {
  --height: 44px;
  min-width: 102px;
}
@media screen and (min-width: 992px) {
  .header .header-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .header .header-menu {
    display: none;
  }
  .header-list {
    gap: 0;
  }
  .header-link {
    padding: 8px 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .header .header-nav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .mobile-header .overlay {
    position: fixed;
    inset: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    transition: all 0.2s linear;
    opacity: 0;
  }
  .mobile-header .menu-checkbox:checked ~ .overlay {
    visibility: visible;
    opacity: 1;
  }
  .mobile-header .menu-drawer {
    position: fixed;
    inset: 0 20% 0 0;
    background: #fff;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.2s linear;
    padding: 60px;
  }
  .mobile-header .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .mobile-header .header-nav {
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-start;
    gap: 40px 0;
  }
  .mobile-header .header-list {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px 0;
  }
  .mobile-header .header-link {
    padding: 0;
  }
  .mobile-header .log-in-btn {
    width: 100%;
  }
}

.footer {
  background: #fdf0df;
}
.footer-container {
  padding: 92px 0 28px;
}
.footer-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 4fr;
  grid-gap: 0 130px;
  padding-bottom: 50px;
  border-bottom: 1px solid #686977;
}
.footer-heading {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.footer-links {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}
.footer-link {
  font-size: 1.6rem;
  white-space: nowrap;
  line-height: 162.5%;
}
.footer-info {
  display: flex;
  align-items: center;
  gap: 0 35px;
}
.footer-info span {
  font-size: 1.6rem;
  line-height: 162.5%;
  display: block;
  text-align: left;
}
.footer-info a {
  margin-top: 18px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.footer .socials {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 0 14px;
}
.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100rem;
  background: #0b0d21;
  transition: all 0.2s linear;
}
.footer .social svg {
  color: #fff;
  transition: all 0.2s linear;
}
.footer .social:hover {
  background: #fe0;
}
.footer .social:hover svg {
  color: #0b0d21;
}
.footer-bottom {
  padding-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-pay {
  display: flex;
  align-items: center;
  gap: 0 28px;
  margin-left: 120px;
}
.footer .copyright {
  font-size: 1.6rem;
  line-height: 162.5%;
}
@media screen and (max-width: 991.98px) {
  .footer-pay {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .footer-top {
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding-bottom: 55px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    padding: 55px 0 28px;
  }
  .footer-top {
    grid-template-columns: 1fr;
    gap: 28px 0;
    padding-bottom: 55px;
  }
  .footer-info {
    flex-direction: column;
    gap: 28px 0;
    align-items: flex-start;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 28px 0;
    align-items: flex-start;
  }
}

.sub-header {
  background: #fe0;
}
.sub-header-container {
  padding: 21px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 57px;
}
.sub-header-container div {
  position: relative;
}
.sub-header-container div:nth-child(2)::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background: #0b0d21;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -48px;
}
.sub-header-container div:nth-child(2)::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background: #0b0d21;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -48px;
}
@media screen and (max-width: 991.98px) {
  .sub-header {
    overflow: hidden;
  }
  .sub-header-container div {
    white-space: nowrap;
  }
  .sub-header-container div:first-child {
    position: relative;
  }
  .sub-header-container div:first-child::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    background: #0b0d21;
    position: absolute;
    right: -29px;
    top: 50%;
    transform: translateY(-50%);
  }
  .sub-header-container div:nth-child(2) {
    display: none;
  }
}
.hero {
  background: #fdf0df;
}
.hero-container {
  padding: 90px 0 100px;
  display: flex;
  justify-content: space-between;
}
.hero-content {
  max-width: 470px;
}
.hero-heading {
  max-width: 468px;
}
.hero-desc {
  margin-top: 14px;
  text-align: left;
  color: #0b0d21;
}
.hero-cta {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 0 18px;
}
.hero .start-btn {
  min-width: 194px;
}
.hero .explore-btn {
  min-width: 213px;
}
.hero-rate {
  margin-top: 98px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-rate-right strong {
  font-size: 2.2rem;
  margin-top: 16px;
  font-weight: 700;
  line-height: 145.455%;
  display: block;
  text-align: left;
}
.hero-rate-right span {
  margin-top: 6px;
  display: block;
  text-align: left;
}
.hero-rate-right a {
  margin-top: 16px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  text-decoration: underline;
}
.hero-stars {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.hero-media {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
  position: relative;
}
.hero-media img:first-child {
  width: 270px;
  height: 412px;
  border-radius: 80px 0 80px 0;
}
.hero-media img:nth-child(2) {
  width: 270px;
  height: 412px;
  border-radius: 0 80px 0 0;
}
.hero-media img:nth-child(3) {
  width: 270px;
  height: 232px;
  border-radius: 0 0 0 80px;
  margin-top: 30px;
}
.hero-media img:nth-child(4) {
  width: 320px;
  height: 320px;
  border-radius: 100rem;
  border: 40px solid #fdf0df;
  position: absolute;
  bottom: 84px;
  right: -28px;
}
.hero-media img:last-child {
  position: absolute;
  bottom: 0;
  right: 100px;
}
@media screen and (max-width: 991.98px) {
  .hero-container {
    flex-direction: column;
    gap: 45px 0;
  }
  .hero-rate-left {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-container {
    padding: 27px 0 28px;
  }
  .hero-desc {
    margin-top: 12px;
  }
  .hero-cta {
    margin-top: 28px;
    flex-direction: column;
    gap: 18px 0;
    align-items: flex-start;
  }
  .hero-rate {
    margin-top: 38px;
  }
  .hero-rate-right span {
    margin-top: 12px;
  }
  .hero-media {
    gap: 0 19px;
  }
  .hero-media img:first-child {
    width: 160px;
    height: 244px;
  }
  .hero-media img:nth-child(2) {
    width: 160px;
    height: 194px;
  }
  .hero-media img:nth-child(3) {
    width: 160px;
    height: 137px;
    margin-top: 18px;
  }
  .hero-media img:nth-child(4) {
    width: 178px;
    height: 178px;
    border-radius: 100rem;
    border: 18px solid #fdf0df;
    bottom: 78px;
    right: -10px;
  }
  .hero-media img:last-child {
    right: 41px;
    width: 77px;
    height: 52px;
  }
}

.stat {
  background: #434ec4;
}
.stat-container {
  padding: 70px 84px;
  display: flex;
  align-items: center;
}
.stat-container div {
  text-align: center;
}
.stat-container div strong {
  color: #fff;
}
.stat-container div span {
  color: #d0d4ff;
  white-space: nowrap;
  margin-top: 8px;
  display: inline-block;
}
.stat-container div:first-child {
  margin-right: 70px;
}
.stat-container div:last-child {
  margin-left: 70px;
}
.stat-container div:nth-child(2) {
  padding: 0 70px;
  position: relative;
}
.stat-container div:nth-child(2)::before {
  content: "";
  width: 2px;
  height: 58px;
  border-radius: 1px;
  background: #929aef;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stat-container div:nth-child(2)::after {
  content: "";
  width: 2px;
  height: 58px;
  border-radius: 1px;
  background: #929aef;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.stat-container div:nth-child(3) {
  position: relative;
  padding: 0 70px;
}
.stat-container div:nth-child(3)::before {
  content: "";
  width: 2px;
  height: 58px;
  border-radius: 1px;
  background: #929aef;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 991.98px) {
  .stat-container {
    padding: 55px 0;
    flex-direction: column;
    gap: 28px 0;
  }
  .stat-container div {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    justify-content: center;
  }
  .stat-container div:first-child {
    margin: 0;
  }
  .stat-container div:nth-child(2) {
    padding: 0;
  }
  .stat-container div:nth-child(2)::before {
    width: 0;
  }
  .stat-container div:nth-child(2)::after {
    width: 0;
  }
  .stat-container div:nth-child(3) {
    padding: 0;
  }
  .stat-container div:nth-child(3)::before {
    width: 0;
  }
  .stat-container div:last-child {
    margin: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.feature-container {
  padding: 160px 0;
}
.feature-heading {
  max-width: 570px;
  margin: 0 auto;
}
.feature-desc {
  margin: 20px auto 0 auto;
  max-width: 570px;
}
.feature-list {
  margin-top: 70px;
  position: relative;
  padding-bottom: 20px;
}
.feature-list::before {
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #d9d9d9;
  position: absolute;
  bottom: 0;
  left: 0;
}
.feature-item {
  color: #686977;
  padding: 0 127px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  cursor: pointer;
  padding-bottom: 20px;
}
.feature-item.active {
  color: #0b0d21;
  border-bottom: 3px solid #0b0d21;
}
.feature-section {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.feature-content {
  padding: 81px 85px 0 0;
}
.feature-content-heading {
  text-align: left;
}
.feature-content-desc {
  margin-top: 20px;
  text-align: left;
  max-width: 470px;
}
.feature-content button {
  margin-top: 40px;
  min-width: 194px;
}
.feature-content-heading-2 {
  margin-top: 160px;
  text-align: left;
}
.feature-content-desc-2 {
  margin-top: 160px;
  text-align: left;
}
.feature-media-1 {
  margin-left: auto;
}
.feature-media-1 video {
  width: 570px;
  height: 520px;
  background: #fdf0df;
  border-radius: 6px;
}
.feature-media-2 {
  margin-top: 70px;
}
.feature-media-2 video {
  background: #fdf0df;
  width: 470px;
  height: 478px;
  border-radius: 12px;
}
.feature-content-list {
  margin-top: 70px;
  --column: 2;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.feature-content-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.feature-content-item {
  cursor: pointer;
  width: 270px;
  height: 224px;
  border-radius: 12px;
  border: 1px solid #e9eaf0;
  background: #fff;
  padding: 40px 20px;
  transition: all 0.2s linear;
}
.feature-content-item:hover {
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  transform: translateY(-20px);
}
.feature-content-item:hover figure img {
  animation: spinner 0.2s linear forwards;
}
.feature-content-item h4 {
  margin-top: 20px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
  text-align: left;
}
.feature-content-item span {
  margin-top: 12px;
  font-size: 1.6rem;
  line-height: 162.5%;
}
@media screen and (max-width: 991.98px) {
  .feature-list {
    display: none;
  }
  .feature-section {
    margin-top: 55px;
    grid-template-columns: 1fr;
    gap: 28px 0;
  }
  .feature-content {
    padding: 0;
    grid-row: 2;
  }
  .feature-content-desc {
    margin-top: 12px;
  }
  .feature-content-desc-2 {
    margin-top: -16px;
  }
  .feature-content button {
    margin-top: 28px;
  }
  .feature-media-1 {
    grid-row: 1;
  }
  .feature-media-1 video {
    height: 310px;
  }
  .feature h3 {
    margin-top: 22px;
    grid-row: 3;
  }
  .feature-media-2 {
    grid-row: 5;
    margin-top: 0;
  }
  .feature-media-2 video {
    height: 334px;
  }
  .feature-content-list {
    grid-row: 6;
    margin: 0;
  }
  .feature-content-item {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .feature-media-1 {
    margin-left: 0;
  }
  .feature-media-1 video {
    width: 100%;
  }
  .feature-media-2 video {
    width: 100%;
  }
  .feature-content-item {
    margin-left: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .feature-container {
    padding: 100px 0 50px;
  }
  .feature-desc {
    margin-top: 12px;
  }
}

.course {
  background: #fdf0df;
}
.course-container {
  padding: 100px 0;
}
.course-heading {
  max-width: 570px;
  margin: 0 auto;
}
.course-desc {
  margin: 20px auto 0 auto;
  max-width: 570px;
}
.course-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.course-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.course-item {
  border-radius: 12px;
  background: #fff;
  padding: 20px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.course-item:hover {
  transform: translateY(-10px);
}
.course-item-desc {
  color: #434ec4;
  font-size: 1.4rem;
  line-height: 171.429%;
}
.course-item h3 {
  margin-top: 12px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  text-align: left;
}
.course-item-img {
  width: 330px;
  height: 278px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.course-author {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.course-author img {
  width: 20px;
  height: 20px;
  border-radius: 100rem;
}
.course-author p {
  color: #83848c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.course-stat {
  margin-top: 12px;
  display: flex;
}
.course-stat img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}
.course-stat span {
  color: #686977;
  white-space: nowrap;
  font-size: 1.6rem;
  line-height: 162.5%;
  margin-right: 18px;
}
.course-item-bottom {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-item-bottom strong {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
}
.course-item-bottom button {
  min-width: 120px;
  transition: all 0.2s linear;
}
.course-item-bottom button:hover {
  background: #fe0;
  border: 3px solid #fe0;
}
.course-btn {
  margin: 65px auto 0 auto;
  min-width: 204px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .course-list {
    --column: 2;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .course-container {
    padding: 55px 0;
  }
  .course-desc {
    margin-top: 12px;
  }
  .course-list {
    margin-top: 28px;
    --column: 1;
    --spacing: 28px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .course-item {
    padding: 14px;
  }
  .course-item-img {
    width: 311px;
    height: 262px;
    margin-bottom: 14px;
  }
  .course-item h3 {
    margin-top: 2px;
  }
  .course-author {
    margin-top: 12px;
  }
  .course-stat span {
    font-size: 1.4rem;
  }
  .course-item-bottom strong {
    font-size: 1.6rem;
  }
  .course-item-bottom button {
    --height: 44px;
    min-width: 75px;
    font-size: 1.4rem;
  }
  .course-btn {
    margin-top: 28px;
  }
}

.about-container {
  padding: 160px 0;
}
.about-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-heading, .about-desc {
  max-width: 570px;
  text-align: left;
}
.about-list {
  margin-top: 80px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.about-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.about-item {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #e9eaf0;
  background: #fff;
  padding: 40px 20px;
  transition: all 0.2s linear;
}
.about-item:hover {
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  transform: translateY(-20px);
}
.about-item-heading {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  text-align: left;
}
.about-item-content {
  display: flex;
  gap: 0 20px;
  justify-content: space-between;
}
.about-item-content-left {
  margin-top: 20px;
}
.about-item-content-right {
  max-width: 282px;
  margin-top: 20px;
}
.about-item-content-right blockquote {
  font-size: 1.6rem;
  line-height: 162.5%;
}
.about-item-user {
  display: flex;
  align-items: center;
  gap: 0 14px;
}
.about-item-user-icon {
  width: 64px;
  height: 64px;
  border-radius: 100rem;
}
.about-item-user div strong {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
}
.about .separate {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background: #e9eaf0;
}
.about-stars {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 0 7px;
}
.about-stars img {
  width: 20px;
  height: 20px;
}
.about .nav-list {
  margin-top: 55px;
}
@media screen and (max-width: 991.98px) {
  .about-top {
    flex-direction: column;
    gap: 12px 0;
  }
  .about-list {
    --column: 2;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .about-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .about-container {
    padding: 50px 0;
  }
  .about-list {
    margin-top: 28px;
    --column: 1;
    --spacing: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .about-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .about-list .about-item {
    padding: 22px 14px;
  }
  .about-list .about-item:nth-child(2) {
    display: none;
  }
  .about-list .about-item:last-child {
    display: none;
  }
  .about-list .about-item-content-right {
    max-width: 273px;
  }
  .about-list .about-item-content-right blockquote {
    font-size: 1.4rem;
    text-align: left;
  }
  .about-item-content {
    gap: 0 10px;
  }
  .about-item-content-left {
    flex-shrink: 0;
  }
  .about .nav-list {
    margin-top: 38px;
  }
}

.contact {
  background: #fe0;
}
.contact-container {
  padding: 100px 0;
  position: relative;
}
.contact-content {
  max-width: 570px;
  margin: 0 auto;
}
.contact-desc {
  margin-top: 20px;
  color: #0b0d21;
}
.contact-form {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 0 18px;
  justify-content: space-between;
}
.contact-form button {
  min-width: 159px;
}
.contact-input {
  width: 100%;
  padding: 15px;
  color: #0b0d21;
  border-radius: 8px;
  border: 1px solid #0b0d21;
  text-align: left;
}
.contact-decor img {
  position: absolute;
}
.contact-decor img:first-child {
  top: 146px;
  left: 34px;
}
.contact-decor img:last-child {
  top: 118px;
  right: 56px;
}
@media screen and (max-width: 767.98px) {
  .contact {
    margin-bottom: 50px;
  }
  .contact-container {
    padding: 55px 0;
  }
  .contact-desc {
    margin-top: 12px;
  }
  .contact-form {
    margin-top: 28px;
    flex-direction: column;
    gap: 18px 0;
  }
  .contact-decor {
    display: none;
  }
}

.about-hero-tag {
  background: #434ec4;
}
.about-hero-tag-container {
  padding: 50px 0;
}
.about-hero-tag-container span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 120%;
  display: block;
}
.about-hero-tag-container h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  margin-top: 30px;
}
.about-hero-tag-container button {
  --height: 53px;
  min-width: 256px;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid #fdf0df;
  background: #434ec4;
  margin: 35px auto 0 auto;
  transition: all 0.2s linear;
}
.about-hero-tag-container button:hover {
  border: 1px solid #434ec4;
  background: #fdf0df;
  color: #434ec4;
}
.about-hero-content {
  background: #fdf0df;
}
.about-hero-content-container {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}
.about-hero-content-container p {
  max-width: 654px;
  color: #000;
  font-size: 1.75rem;
  line-height: 133.333%;
  text-align: left;
}
.about-hero-content-container p strong {
  font-weight: 500;
}
.about-hero-content-container figure {
  display: flex;
  flex-wrap: wrap;
}
.about-hero-content-container figure img {
  width: 243px;
  height: 221.5px;
  object-fit: cover;
}
.about-hero-content-container figure img:first-child {
  border-radius: 10.232px 0px 0px 0px;
}
.about-hero-content-container figure img:nth-child(2) {
  border-radius: 0px 10.232px 0px 0px;
}
.about-hero-content-container figure img:nth-child(3) {
  border-radius: 0px 0px 0px 10.232px;
}
.about-hero-content-container figure img:last-child {
  border-radius: 0px 0px 10.232px 0px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .about-hero-content-container {
    flex-direction: column;
    justify-content: center;
    gap: 30px 0;
  }
  .about-hero-content-container figure img {
    width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .about-hero-tag-container {
    padding: 30px 0 20px;
  }
  .about-hero-tag-container h1 {
    margin-top: 20px;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 133.333%;
  }
  .about-hero-tag-container button {
    margin-top: 30px;
  }
  .about-hero-content-container {
    padding: 50px 0 40px;
    flex-direction: column;
    gap: 30px 0;
  }
  .about-hero-content-container p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    font-size: 1.4rem;
  }
  .about-hero-content-container figure img {
    width: 167.5px;
    height: 152.68px;
  }
  .about-hero-content-container figure img:first-child {
    border-radius: 7.053px 0px 0px 0px;
  }
  .about-hero-content-container figure img:nth-child(2) {
    border-radius: 0px 7.053px 0px 0px;
  }
  .about-hero-content-container figure img:nth-child(3) {
    border-radius: 0px 0px 0px 7.053px;
  }
  .about-hero-content-container figure img:last-child {
    border-radius: 0px 0px 7.053px 0px;
  }
}

.about-read-container {
  padding: 100px 0 50px;
}
.about-read button {
  --height: 53px;
  min-width: 265px;
  margin: 30px auto 0 auto;
}
.about-read-article {
  margin-top: 70px;
  position: relative;
  padding: 0 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-read-article-content {
  max-width: 642px;
}
.about-read-article-content h3 {
  text-align: left;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 114.286%;
}
.about-read-article-content blockquote {
  text-align: left;
  margin-top: 20px;
  font-size: 1.75rem;
}
.about-read-img {
  flex-shrink: 0;
  width: 359px;
  height: 332px;
}
.about-read-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about-read-nav a:first-child img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.about-read-nav a:last-child img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
@media screen and (max-width: 991.98px) {
  .about-read-article {
    margin-top: 50px;
    flex-direction: column;
    gap: 30px 0;
    padding: 0;
  }
  .about-read-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    margin-top: 40px;
  }
  .about-read-nav a:first-child img {
    position: initial;
  }
  .about-read-nav a:last-child img {
    position: initial;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .about-read-img {
    width: 80%;
  }
}
@media screen and (max-width: 767.98px) {
  .about-read-container {
    padding: 50px 0;
  }
  .about-read button {
    margin-top: 15px;
    --height: 38px;
    min-width: 194px;
    font-size: 1.1rem;
  }
  .about-read-article-content h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 157.143%;
  }
  .about-read-article-content blockquote {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 150%;
  }
}

.about-story-container {
  padding: 50px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
}
.about-story-media {
  display: flex;
  flex-wrap: wrap;
}
.about-story-media img {
  width: 222.5px;
  height: 202.814px;
}
.about-story-media img:first-child {
  border-radius: 9.368px 0px 0px 0px;
}
.about-story-media img:nth-child(2) {
  width: 243px;
  height: 221.5px;
  border-radius: 0px 10.232px 0px 0px;
  position: relative;
  z-index: 1;
}
.about-story-media img:nth-child(3) {
  border-radius: 0px 0px 0px 9.368px;
  margin-top: -18.686px;
}
.about-story-media img:last-child {
  margin-top: -18.686px;
  border-radius: 0px 0px 9.368px 0px;
}
.about-story-content {
  max-width: 661px;
}
.about-story-content h2 {
  text-align: left;
}
.about-story-content p {
  margin-top: 20px;
  text-align: left;
  font-size: 1.58rem;
}
.about-story-content p strong {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
}
@media screen and (max-width: 991.98px) {
  .about-story-container {
    padding: 25px 0 50px;
    flex-direction: column-reverse;
    gap: 30px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .about-story-media img {
    width: 50%;
  }
  .about-story-media img:nth-child(2) {
    width: 50%;
  }
}
@media screen and (max-width: 767.98px) {
  .about-story-container h2 {
    font-size: 2.4rem;
    line-height: 97.138%;
  }
  .about-story-container p {
    margin-top: 9px;
    font-size: 1.2rem;
    line-height: 150%;
  }
  .about-story-container p strong {
    line-height: 150%;
    font-weight: 700;
    font-size: 1.2rem;
  }
  .about-story-media img {
    width: 160.296px;
    height: 146.113px;
  }
  .about-story-media img:first-child {
    border-radius: 6.749px 0px 0px 0px;
  }
  .about-story-media img:nth-child(2) {
    width: 175.065px;
    height: 159.575px;
    border-radius: 0px 7.371px 0px 0px;
    position: relative;
    z-index: 1;
  }
  .about-story-media img:nth-child(3) {
    border-radius: 0px 0px 0px 6.749px;
    margin-top: -18.686px;
  }
  .about-story-media img:last-child {
    margin-top: -18.686px;
    border-radius: 0px 0px 6.749px 0px;
  }
}

.about-cta {
  background: #434ec4;
}
.about-cta-container {
  padding: 47px 0;
}
.about-cta-container h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 140%;
}
.about-cta-container button {
  --height: 53px;
  margin: 20px auto 0 auto;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  background: #434ec4;
  min-width: 110px;
}
@media screen and (max-width: 767.98px) {
  .about-cta-container {
    padding: 30px 0;
  }
  .about-cta h2 {
    font-size: 1.6rem;
    line-height: 137.5%;
  }
}

.course-feature {
  background: #fdf0df;
}
.course-feature-container {
  padding: 16px 0 100px;
}
.course-feature-heading, .course-feature-desc {
  max-width: 570px;
  margin: 0 auto;
}
.course-feature-desc {
  margin-top: 20px;
}
.course-feature-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.course-feature-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .course-feature-list {
    --column: 2;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-feature-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .course-feature-container {
    padding: 30px 0 40px;
  }
  .course-feature-desc {
    margin-top: 12px;
  }
  .course-feature-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-feature-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .course-feature-list .course-item:nth-child(5) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(6) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(7) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(8) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(9) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(10) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(11) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(12) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(13) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(14) {
    display: none;
  }
  .course-feature-list .course-item:nth-child(15) {
    display: none;
  }
}

.course-tropic-container {
  padding: 100px 0 50px;
}
.course-tropic-list {
  margin-top: 100px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.course-tropic-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.course-tropic-list .course-item {
  border: 1px solid #e9eaf0;
  transition: all 0.2s linear;
}
.course-tropic-list .course-item:hover {
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.course-tropic-list .course-item h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .course-tropic-list {
    --column: 2;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-tropic-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .course-tropic-container {
    padding: 50px 0 25px;
  }
  .course-tropic-list {
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-tropic-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .course-tropic-list .course-item:nth-child(4) {
    display: none;
  }
  .course-tropic-list .course-item:nth-child(5) {
    display: none;
  }
  .course-tropic-list .course-item:nth-child(6) {
    display: none;
  }
}

.course-member-container {
  padding: 50px 0 100px;
}
.course-member-list {
  margin-top: 100px;
  --column: 4;
  --spacing: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
  position: relative;
}
.course-member-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.course-member-item img {
  width: 277px;
  height: 315px;
  border-radius: 10px;
}
.course-member-item strong {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 155.556%;
  display: block;
}
.course-member-item span {
  margin: 5px auto 0 auto;
  display: block;
  font-size: 1.4rem;
  line-height: 171.429%;
}
.course-member-nav figure {
  transition: all 0.2s linear;
}
.course-member-nav figure svg {
  transition: all 0.2s linear;
}
.course-member-nav figure:hover {
  background: #f2994a;
  border: 1px solid #f2994a;
}
.course-member-nav figure:hover svg {
  color: #fff;
}
.course-member .arrow-left, .course-member .arrow-right {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9eaf0;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  left: -12px;
}
.course-member .arrow-left svg, .course-member .arrow-right svg {
  transform: rotate(-180deg);
}
.course-member .arrow-right {
  left: initial;
  right: -32px;
}
.course-member .arrow-right svg {
  transform: rotate(0);
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .course-member-list {
    --column: 3;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-member-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .course-member-list .course-member-item:nth-child(3) {
    display: none;
  }
  .course-member .arrow-left, .course-member .arrow-right {
    left: 16px;
  }
  .course-member .arrow-right {
    right: -10px;
    left: initial;
  }
}
@media screen and (max-width: 767.98px) {
  .course-member-container {
    padding: 25px 0 50px;
  }
  .course-member-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .course-member-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .course-member-item {
    text-align: center;
  }
  .course-member-item img {
    margin: 0 auto;
  }
  .course-member .arrow-left, .course-member .arrow-right {
    bottom: -40px;
    top: initial;
    transform: translateY(0);
    left: 121px;
  }
  .course-member .arrow-right {
    left: initial;
    right: 91px;
  }
}

.mentor-member {
  background: #fdf0df;
}
.mentor-member-container {
  padding: 16px 0 100px;
}
.mentor-member-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.mentor-member-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.mentor-member-item {
  height: 481px;
  border-radius: 12px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
.mentor-member-img {
  width: 100%;
  height: 332px;
}
.mentor-member-img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mentor-member-decor-1 {
  cursor: pointer;
  position: absolute;
  bottom: 110px;
  left: 20px;
}
.mentor-member-decor-2 {
  cursor: pointer;
  top: 10px;
  right: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background: #fff;
}
.mentor-member-decor-2 svg {
  color: #686977;
}
.mentor-member-decor-2.active svg {
  color: #f84141;
}
.mentor-member-tag {
  margin: 42px 0 0 20px;
  font-size: 1.6rem;
  line-height: 162.5%;
  display: block;
  text-align: left;
}
.mentor-member-name {
  margin: 5px 0 0 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.mentor-member-name strong {
  font-size: 1.8rem;
  font-weight: 500;
}
.mentor-member-stat {
  margin: 10px 0 0 20px;
  display: flex;
  align-items: center;
}
.mentor-member-stat img {
  margin-right: 7px;
}
.mentor-member-stat span {
  margin-right: 50px;
  font-size: 1.4rem;
  line-height: 171.429%;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .mentor-member-list {
    --column: 2;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .mentor-member-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .mentor-member-container {
    padding: 30px 0 40px;
  }
  .mentor-member-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .mentor-member-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
  .mentor-member-list .mentor-member-item:nth-child(7) {
    display: none;
  }
  .mentor-member-list .mentor-member-item:nth-child(8) {
    display: none;
  }
  .mentor-member-list .mentor-member-item:nth-child(9) {
    display: none;
  }
  .mentor-member-list .mentor-member-item:nth-child(10) {
    display: none;
  }
  .mentor-member-list .mentor-member-item:nth-child(11) {
    display: none;
  }
  .mentor-member-list .mentor-member-item:nth-child(12) {
    display: none;
  }
  .mentor-member-tag {
    margin-top: 38px;
    font-size: 1.4rem;
  }
  .mentor-member-name {
    margin-top: 8px;
  }
  .mentor-member-name strong {
    font-size: 1.6rem;
    line-height: 137.5%;
  }
  .mentor-member-stat {
    margin-top: 6px;
  }
  .mentor-member-stat span {
    white-space: nowrap;
  }
}

.pricing-container {
  padding: 16px 0 100px;
}
.pricing-list {
  margin-top: 70px;
  --column: 3;
  --spacing: 30px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing);
  margin-left: calc(-1 * var(--spacing));
}
.pricing-list > * {
  margin-left: var(--spacing);
  width: calc(100% / var(--column) - var(--spacing));
}
.pricing-list .pricing-item:first-child button {
  min-width: 165px;
}
.pricing-item {
  height: 512px;
  padding: 30px 40px;
  border-radius: 20px;
  border: 1px solid #e9eaf0;
  background: #fff;
  position: relative;
  transition: all 0.2s linear;
}
.pricing-item:hover {
  background: #111727;
}
.pricing-item:hover strong {
  color: #fff;
}
.pricing-item:hover b {
  color: #fff;
}
.pricing-item:hover .pricing-tag {
  color: #fff;
}
.pricing-item:hover .pricing-desc {
  color: #cdd0db;
}
.pricing-item:hover p {
  color: #cdd0db;
}
.pricing-item:hover button {
  background: #fe0;
  color: #0b0d21;
}
.pricing-item strong {
  margin-top: 7px;
  color: #000;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 172.283%;
  display: block;
  transition: all 0.2s linear;
  text-align: left;
}
.pricing-item strong b {
  color: #000;
  transition: all 0.2s linear;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 162.5%;
}
.pricing-tag {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 170%;
  display: block;
  transition: all 0.2s linear;
  text-align: left;
}
.pricing-desc {
  transition: all 0.2s linear;
  margin-top: 7px;
  color: #000;
  font-size: 1.5rem;
  line-height: 120%;
}
.pricing-check-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}
.pricing-check-list-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.pricing-check-list-item p {
  color: #0b0d21;
  transition: all 0.2s linear;
  font-size: 1.5rem;
  line-height: 120%;
}
.pricing-btn {
  --height: 51px;
  min-width: 128px;
  font-size: 1.6rem;
  font-weight: 500;
  position: absolute;
  bottom: 30px;
  left: 40px;
}
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .pricing-list {
    --column: 2;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .pricing-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}
@media screen and (max-width: 767.98px) {
  .pricing-container {
    padding: 30px 0 50px;
  }
  .pricing-list {
    margin-top: 40px;
    --column: 1;
    --spacing: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--spacing);
    margin-left: calc(-1 * var(--spacing));
  }
  .pricing-list > * {
    margin-left: var(--spacing);
    width: calc(100% / var(--column) - var(--spacing));
  }
}

/*# sourceMappingURL=main.css.map */
