@use "../../abstracts";
.course-feature {
  background: abstracts.$bg-color;
  &-container {
    padding: 16px 0 100px;
  }
  &-heading {
    max-width: 570px;
    margin: 0 auto;
  }
  &-desc {
    margin-top: 20px;
    @extend .course-feature-heading;
  }
  &-list {
    margin-top: 70px;
    @include abstracts.grid(3, 30px);
  }
  // Tablet
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    &-list {
      @include abstracts.grid(2, 30px);
    }
  }
  // Mobile
  @media screen and (max-width: 767.98px) {
    &-container {
      padding: 30px 0 40px;
    }
    &-desc {
      margin-top: 12px;
    }
    &-list {
      margin-top: 40px;
      @include abstracts.grid(1, 30px);
      .course-item {
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
        &:nth-child(7) {
          display: none;
        }
        &:nth-child(8) {
          display: none;
        }
        &:nth-child(9) {
          display: none;
        }
        &:nth-child(10) {
          display: none;
        }
        &:nth-child(11) {
          display: none;
        }
        &:nth-child(12) {
          display: none;
        }
        &:nth-child(13) {
          display: none;
        }
        &:nth-child(14) {
          display: none;
        }
        &:nth-child(15) {
          display: none;
        }
      }
    }
  }
}
